<h1>Log In</h1>
<%= form_tag sessions_create_path do %>
  <label for="password">Password</label>
  <input name="password" id="password" type="password" autofocus required>
  <button type="submit">Log In</button>
<% end %>
