<% content_for :title, "Tanks" %>

<h1>Tanks</h1>

<%= link_to "+ New Tank", new_tank_path %>

<div id="tanks">
  <% @tanks.each do |tank| %>
      <%= render tank %>
      <p>
        <%= link_to "Show this Tank", tank %>
      </p>
  <% end %>

</div>

<% if @tanks.any? %>
    <%= link_to "+ New Tank", new_tank_path %>
<% end %>
