<div id="<%= dom_id tds_reading %>">
  <p>
    <strong>Datetime:</strong>
    <%= tds_reading.datetime %>
  </p>

  <p>
    <strong>Tank:</strong>
    <%= link_to tds_reading.tank %>
  </p>

  <p>
    <strong>Tds:</strong>
    <%= tds_reading.tds %>ppm
  </p>

</div>
