<table id="tds_readings">
  <thead>
    <tr>
      <th>Date</th>
      <th>TDS</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
    <% tds_readings.each do |tds_reading| %>
      <tr>
        <td><%= time_ago tds_reading.datetime %></td>
        <td><%= tds_reading.tds %></td>
        <td><%= tds_reading.updated_at != tds_reading.created_at ? tds_reading.updated_at : nil %></td>
      </tr>
    <% end %>
  </tbody>
</table>