<div id="<%= dom_id tds_reading %>">
  <h3>TDS Reading for <%= link_to tds_reading.tank %></h3>

  <p>
    <strong>Datetime:</strong>
    <%= time_ago tds_reading.datetime %>
  </p>

  <p>
    <strong>TDS:</strong>
    <%= tds_reading.tds %>ppm
  </p>

</div>
