<% content_for :title, "Edit TDS Reading for #{@tds_reading.tank}" %>

<h1>Editing TDS Reading</h1>

<%= render "form", tds_reading: @tds_reading %>

<br>

<div>
  <%= link_to "Show this TDS Reading", @tds_reading %> |
  <%= link_to "Back to TDS Readings", tds_readings_path %>
</div>
