<% content_for :title, "Editing tds reading" %>

<h1>Editing tds reading</h1>

<%= render "form", tds_reading: @tds_reading %>

<br>

<div>
  <%= link_to "Show this tds reading", @tds_reading %> |
  <%= link_to "Back to tds readings", tds_readings_path %>
</div>
