<% content_for :title, "TDS Readings" %>

<h1>Total Dissolved Solids (TDS) Readings</h1>

<%= link_to "+ New TDS Reading", new_tds_reading_path %>

<div id="tds_readings">
  <% @tds_readings&.each do |tds_reading| %>
    <%= render tds_reading %>
    <p>
      <%= link_to "Show this TDS Reading", tds_reading %>
    </p>
  <% end %>
</div>

<% if @tds_readings&.any? %>
<%= link_to "+ New TDS Reading", new_tds_reading_path %>
<% end %>
