<%= render @tds_reading %>

<div>
  <%= link_to "Edit this TDS Reading", edit_tds_reading_path(@tds_reading) %> |
  <%= link_to "Back to TDS Readings", tds_readings_path %>

  <%= button_to "Destroy this TDS Reading", @tds_reading, method: :delete, onclick: "return confirm('Are you sure you want to permanently delete this TDS Reading?');" %>
</div>
