<% content_for :title, "Edit Sensor Type" %>

<h1>Editing Sensor Type</h1>

<%= render "form", sensor_type: @sensor_type %>

<br>

<div>
  <%= link_to "Show this sensor type", @sensor_type %> |
  <%= link_to "Back to sensor types", sensor_types_path %>
</div>
