<% content_for :title, "Sensor Types" %>

<h1>Sensor Types</h1>

<div id="sensor_types">
  <% @sensor_types.each do |sensor_type| %>
    <%= render sensor_type %>
    <p>
      <%= link_to "Show this sensor type", sensor_type %>
    </p>
  <% end %>
</div>

<%= link_to "New sensor type", new_sensor_type_path %>
