<div style="float:right">
  <%= link_to t('.import_sensor_readings'), sensor_readings_import_path %> |
  <%= link_to t('.export_sensor_readings'), sensor_readings_path(format: :json) %>
</div>

<%= render 'readings', readings: @readings, sensor_column: true %>
