<% content_for :title, "Edit Zone: #{@zone}" %>


<h1>Editing Zone</h1>

<%= render "form", zone: @zone %>

<br>

<div>
  <%= link_to "Show this Zone", @zone %> |
  <%= link_to "Back to Zones", zones_path %>
</div>
