$darkgreen: #00362d
$green: #004D40
$lightgreen: rgba(0, 77, 64, 0.15)
$lightgreensolid: rgb(217, 228, 226)

// development
$brightgreen: #008c4b

$blue: #0E487B
$lightblue: rgba(14, 72, 123, 0.1)

$yellow: #8C6800
$lightyellow: rgba(206, 154, 0, 0.2)
$lightyellowsolid: rgb(245, 235, 204)

$purple: #D81B60
$lightpurple: #D81B60   // https://davidmathlogic.com/colorblind

*
  transition: all 0.15s ease-out

body
  font-size: 125%
  font-family: Roboto, verdana, sans-serif
  font-weight: 400
  margin: 0

  background-color: #0a4b2e
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("background1.jpg"), no-repeat
  background-size: cover
  background-attachment: fixed
  
  &.development
    background-image: url("background2.jpg")
a
  color: $purple
  text-decoration: none
  &:hover, &:active
    text-decoration: underline

textarea
  font-size: 100%
  font-family: Roboto, verdana, sans-serif
  width: 50%
  min-width: 8em

header
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
  padding: 0 1em 0
  margin: 0 0 2em
  background: $green
  color: white
  box-shadow: rgba(0, 0, 0, 0.45) 0 5px 15px 3px
  line-height: 56px

  button
    line-height: 56px

  a
    color: rgba(255, 255, 255, 0.75)

  form
    padding: 0

body.development
  header
    background: $brightgreen

  nav
    .navItem, .button_to .navItem
      &:hover, &.selected
        background: $lightgreensolid
        color: $brightgreen

    .navItem.selected
      background: $lightgreensolid
      color: $brightgreen

nav
  display: flex
  flex-wrap: wrap
  a
    display: inline-block
    white-space: nowrap
  .navItem, .button_to .navItem
    padding: 0 13px
    white-space: nowrap

  .navItem, .button_to .navItem
    &:hover, &.selected
      background: $lightgreensolid
      color: $darkgreen
      text-decoration: none

  .navItem.selected
    cursor: default
    background: $lightgreensolid
    color: $darkgreen
    text-decoration: none

#currentProject
  margin: 0
  padding: 0
  font-weight: bold
  font-size: 120%
  a
    padding: 0 24px

    color: white
    &:hover
      text-decoration: none
      color: rgba(255, 255, 255, 0.75)

form.button_to
  display: inline-block
  button.logout
    font-family: Roboto, verdana, sans-serif
    color: rgba(255, 255, 255, 0.75)
    border: none
    background: none
    font-size: 100%
    &:hover
      cursor: pointer

.formContainer
  max-width: 500px

.rangeInputContainer
  display: flex
  align-items: flex-end

time
  float: right
  margin-left: 1.25em

h1
  clear: both
h2
  font-size: 120%
  padding-top: 1.5em

section#main
  background: rgba(255, 255, 255, 0.975)
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px
  border-radius: 25px
  margin: 0 3vw 6px
  padding: 0.5em 3vw 2em
  clear: both

  &.sessions, &.registrations, &.passwords, &.password_resets, &.settings
    max-width: 450px
    display: block
    margin-left: auto
    margin-right: auto

    label
      display: block
      font-size: 85%
      color: #555
    .field
      margin-bottom: 0.5em
      input
        padding: 4px 8px
    .submit
      margin-top: 1em

input
  width: 100%
  box-sizing: border-box
table
  table-layout: fixed

  th
    text-align: left
    font-weight: 500
  td
    text-overflow: '...'
    white-space: nowrap
    overflow: hidden

  &.waterings
    table-layout: auto
    white-space: normal
    .plantColumn
      min-width: 200px
      max-width: 0
    .dateColumn
      min-width: 120px
      max-width: 0
    .intervalColumn
      min-width: 100px
      max-width: 0
    .notesColumn
      min-width: 200px
      max-width: 0

input[type=checkbox]
  transform: scale(1.5)
input, input[type=submit], button[type=submit]
  font-size: 120%
input[type=submit], button[type=submit]
  padding: 16px 48px


// Responsive

.plantColumn
  width: 200px
.nextWateringColumn
  width: 200px
.zoneColumn
  width: 218px
.locationColumn
  width: 218px
.containerColumn
  width: 125px
.scheduledColumn
  width: 140px
.frequencyColumn
  width: 140px
.wateredColumn
  width: 140px
.actionColumn
  width: 74px

.collaboratorsColumn
  width: 150px
.plantsColumn
  width: 100px
.wateringsColumn
  width: 100px
.createdColumn
  width: 150px

.hide
  display: none

@media (max-width: 1130px)
  .wateredColumn, .collaboratorsColumn
    display: none

  // gradually reduce #main side padding from 34 (14 per side) until 0 between media queries
  // section#main side padding at 1130px = 34px
  // (1130 - 960) / 34 = 5
  section#main
    margin-left: calc((100% - 960px) / 5)
    margin-right: calc((100% - 960px) / 5)

@media (max-width: 960px)
  .containerColumn
    display: none
  section#main
    margin-right: 0
    margin-left: 0
  .logged_in
    clear: both

  .waterings
    .intervalColumn
      width: 0

@media (max-width: 800px)
  .wateringsColumn
    display: none
@media (max-width: 750px)
  .scheduledColumn, .intervalColumn
    display: none
@media (max-width: 700px)
  .plantsColumn
    display: none
@media (max-width: 600px)
  .field, .submit
    width: calc(100% - 18px)
  .locationColumn
    display: none
  section#main
    padding-right: 0
    padding-left: 0
  td, th
    &:first-child
     padding-left: 1em

  h1, h2, h3, p, form
    padding-left: 20px
@media (max-width: 550px)
  .ownerColumn
    display: none

h4
  color: #bbb
  margin: -1em 0 1em 9em

.line-break::after
  content: "\a"
  white-space: pre

table
  border-spacing: 0
  width: 100%
  margin: 1em 0

th, td
  padding: 12px 6px
  line-height: 27px

thead th
  color: $green
tbody
  tr:nth-child(odd)
    background: $lightgreen
  tr:nth-child(even)
    td
      border-top: 2px solid $lightgreen
      border-bottom: 2px solid $lightgreen
    td:first-child
      border-left: 2px solid $lightgreen
    td:last-child
      border-right: 2px solid $lightgreen

table.blue
  border-color: $blue

  thead th
    color: $blue
  tbody tr:nth-child(odd)
    background: $lightblue

  td
    border-color: $lightblue !important


table.yellow
  border-color: $yellow

  thead th
    color: $yellow
  tbody tr:nth-child(odd)
    background: $lightyellow
  td
    border-color: $lightyellow !important

.plantButton
  display: inline-block
  background: $lightgreen
  width: 300px
  font-size: 120%
  border: 1px solid #444
  border-radius: 13px
  a
    display: block
    text-align: center
    line-height: 48px

a.blue
  color: $blue
a.green
  color: $green
a.yellow
  color: $yellow
a.purple
  color: $purple

p.large
  font-size: 120%

footer
  display: flex
  justify-content: center
  line-height: 44px
  font-size: 110%

#localizations
  margin: 0
  padding: 0
  list-style-type: none
  li
    display: inline-block
  a
    display: inline-block
    padding: 6px 8px
    color: rgba(255,255,255,0.7)
    transition: none
    &:hover, &.selected
      color: rgba(255,255,255,1)
      text-decoration: none

.updateText
  display: inline-block
  margin: 20px 0
  padding-left: 4px
  font-size: 75%
  color: #999

.cursor-pointer
  cursor: pointer

#plant_search
  display: flex
  input[type=search]
    padding: 16px 8px
  input[type=submit]
    flex: 1
