<% content_for :title, "Water Test - #{@water_test.tank} #{@water_test.tested_at.strftime '%-m/%-d/%y'}" %>
<h1>Water Test for <%= @water_test.tank %> on <%= @water_test.tested_at.strftime '%a %-m/%-d/%y' %></h1>
