<div id="<%= dom_id watering %>">
  <p>
    <strong>Plant:</strong>
    <%= link_to watering.plant %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= format_date watering.date %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= watering.notes %>
  </p>

</div>
