<% content_for :title, "Water #{@watering.plant}" %>

<h1><%= t 'waterings.new_watering'%></h1>

<%= render "form", watering: @watering %>

<p>
  <%= link_to t('actions.discard_changes'), @watering %>
</p>
