<% content_for :title, "Edit Location: #{@location}" %>

<h1>Editing location</h1>

<%= render "form", location: @location %>

<br>

<div>
  <%= link_to "Show this Location", @location %> |
  <%= link_to "Back to Locations", locations_path %>
</div>
